<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<title>Online Magazin</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		  rel="stylesheet">
	<link href="style.css" rel="stylesheet" type="text/css">

	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="node_modules/vue-resource/dist/vue-resource.js"></script>

</head>
<body id="body">

<div class="app">

<!--==========Navigate bar=========================-->
	<b-navbar toggleable="md" type="dark" variant="dark" fixed="top">

		<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

		<b-navbar-brand href="#">CR Store</b-navbar-brand>

		<b-collapse is-nav id="nav_collapse">

			<b-navbar-nav>
				<button @click="" id="cart_btn" v-b-modal.modal-center class="btn btn-success" style="margin-top: 5px;">
					<i class="material-icons">shopping_cart</i>
				</button>
				<b-navbar-brand>{{lang[L].total}}: {{costSum}}$</b-navbar-brand>
			</b-navbar-nav>

			<b-dropdown :text="lang[L].category" style="margin-left:10px">
				<b-dropdown-item v-for="c, i in lang[0].cat" @click="filt=c">{{ lang[L].cat[i] }}</b-dropdown-item>
			</b-dropdown>
			<b-dropdown :text="lang[L].firma" style="margin-left:10px">
				<b-dropdown-item v-for="fm, i in lang[0].firm" @click="filt=fm">{{ fm }}</b-dropdown-item>
			</b-dropdown>

			<b-button size="m" class="" @click="filt=3">{{lang[L].all}}</b-button>
			<!-- Right aligned nav items -->
			<b-navbar-nav class="ml-auto">

				<b-nav-form>
					<input class="mr-sm-2" @blur="searchCount=false" @focus="searchCount=true" autofocus :placeholder="lang[L].search" id="inp" v-model="search">
				</b-nav-form>

				<b-nav-item-dropdown :text="lang[L].langName" right>
					<b-dropdown-item @click="L=0">EN</b-dropdown-item>
					<b-dropdown-item @click="L=1">RU</b-dropdown-item>
					<b-dropdown-item @click="L=2">RO</b-dropdown-item>
				</b-nav-item-dropdown>

				<b-nav-item-dropdown right>
					<template slot="button-content">
						<em>User</em>
					</template>
					<b-dropdown-item v-b-modal.modal1>Admin</b-dropdown-item>
					<b-dropdown-item @click="pass=''">User</b-dropdown-item>
				</b-nav-item-dropdown>
			</b-navbar-nav>

		</b-collapse>
	</b-navbar>
<!--===================Show Pass Modal==================-->
		<b-modal v-if="!admin" id="modal1" title="Log-In">
			<input type="password" :style="admin?'border-color:grey':'border-color:red'" v-model="pass"></input>
		</b-modal>


<div id="tovar">
	<tov-container :style="tov.onCart?'border:solid':'border-width:0px'"
				   v-for="tov, index in tovar"
				   v-if="filt==tov.category||filt==tov.firm||filt==3||(tov.name.toLowerCase().indexOf(search.toLowerCase()) + 1)"
				   :tovar="tov">
	</tov-container>

</div>
    <div>
        <!-- Modal Component -->
        <b-modal size="lg" id="modal-center" centered title="Shopping Cart" :ok-title="lang[L].buy" ok-only ok-disabled="true">
            <div id="tovar">
                <tov-container v-for="tov, index in tovar" v-if="tov.onCart" :tovar="tov" cart="true"></tov-container>
            </div>
        </b-modal>
    </div>









</div>




<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script type="text/javascript" src="main.js"></script>

</body>
</html>

